<div class="section top-news centering-page-content">
  <div class="news-container">
    <% Article.order("created_at DESC").limit(10).each do |article| %>
      <div class="news-card vertical">
        <a>
          <div class="thumbnail" style="background-image: <%= article.image %>"></div>
          <div class="article-title"><%=h truncate(article.title, length: 30) %></div>
        </a>
        <div class="meta">
          <div class="site"><%= article.site %></div>
        </div>
        <div class="comment-content">

        </div>
      </div>
    <% end %>
  </div>
</div>