<div class="menu" style="display: none;">
  <div class="main-menu">
    <%= link_to root_path, class: "menu-item" do%>
      総合トップ
    <% end %>
    <a href="/" class="menu-item">マイニュース</a>
    <a href="/" class="menu-item">オリジナル記事</a>
    <a href="/" class="menu-item">特集:YouTuber</a>
  </div>
</div>
