<div class="header">
  <div class="hamburger-menu">
    <img src="/hamburger.png">
  </div>
  <div class="search-box-container">
    <div class="search-box">
      <img class="search-icon" src="/search_icon.png">
      <div class="search-wrapper">
        <input class="search" maxlength="200" type="text" id="global-search-box" placeholder="検索する" value="">
      </div>
    </div>
  </div>
  <a class="logo clear-index-cache" href="/"><img src="/newspicks_logo.png"></a>
  <div class="right-items">
    <div class="register-or-login-items">
      <% unless user_signed_in? %>
        <div class="register">アカウント登録</div>
        <div class="login">ログイン</div>
      <% else %>
        <div class="current-login"><%= current_user.email %></div>
        <%= link_to('ログアウト', destroy_user_session_path, method: :delete, :class => "logout") %>
      <% end %>
    </div>
  </div>
</div>