<div class="page-content">
  <div class"index-page">
    <%= render partial: 'articles/slideshow' %>
    <%= render partial: 'articles/index' %>
    <%= render partial: 'articles/latest' %>
  </div>
</div>