body {
  background-color: #EFEFEF;
  width: 100%;
}

/* ナビゲーション */

.header {
  position: fixed;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  min-width: 800px;
  width: auto;
  background-color: #231F20;
  box-shadow: 0 0 2px #dedede, 0 0 8px #808080;
  z-index: 2;
}

/* ハンバーガーメニュー */

.hamburger-menu img {
  position: absolute;
  width: 28px;
  height: 32px;
  margin-left: 20px;
  margin-top: 9px;
  opacity: .9;
}

.hamburger-menu img:hover {
  opacity: 1;
  cursor: pointer;
}

.menu {
  flex-direction: column;
  float: left;
  background: #FFF;
  width: 240px;
  position: fixed;
  margin-top: 50px;
  left: auto;
  bottom: 10px;
  top: 0;
  z-index: 3;
}

.main-menu {
  margin-left: 16px 0;
  font-size: 14px;
}

.menu-item {
  display: block;
  cursor: pointer;
  padding: 16px 0 16px 32px;
  color: #666;
}

.menu-item:hover {
  background-color: #efefef;
  transition: all 0.2s linear 0s;
}

/* 検索機能 */

.search-box-container {
  position: absolute;
  left: 70px;
  top: 0;
  bottom: 0;
  width: 26%;
}

.search-box-container .search-box {
  position: relative;
  background: rgba(255,255,255,.12);
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  width: 100%;
  height: 30px;
  margin-top: 10px;
}

.search-icon {
  float: left;
  margin-left: 15px;
  margin-top: 7px;
  width: 15px;
}

.search-wrapper {
  position: absolute;
  left: 30px;
  right: 0;
  top: 0;
  bottom: 0;
}

.search-wrapper .search {
  height: 21px;
  width: 100%;
  padding-left: 10px;
  padding-top: 0;
  margin-top: 5px;
  background-color: transparent;
  border: none;
}

.search-box:hover {
  background-color: #585555;
}

.search:active {
  outline-color: none;
}

/* ロゴ */

.header .logo {
  height: auto;
  text-align: center;
  display: block;
  margin: 0;
}

.logo img {
  cursor: pointer;
  margin-top: 14px;
  opacity: .9;
  height: 22px;
}

.logo img:hover {
  opacity: 1;
}

img {
  vertical-align: middle;
}

/* ログイン・ログアウト */

.header .right-items {
  position: absolute;
  right: 0;
  top: 0;
}

.register-or-login-items {
  position: relative;
  color: #ffffff;
  margin-right: 35px;
  margin-top: 12px;
}

.login {
  background-color: #4769ef;
  text-align: center;
  float: left;
  margin-left: 20px;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 12px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.register {
  float: left;
  font-size: 12px;
  margin-top: 6px;
}

.register-or-login-items .login:hover {
  text-decoration: underline;
  cursor: pointer;
}

.register-or-login-items .register:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*-------------------------
      モーダルコンテンツ
-------------------------*/

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.background {
  position: fixed;
  background-color: #393637;
  width: 100%;
  height: 100%;
  opacity: .7;
}

.modal-content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  height: 100%;
  overflow: auto;
  padding: 10% 0;
}

a:hover {
  cursor: default;
}

.modal-content-dialog {
  display: inline-block;
  padding: 30px 40px;
  position: relative;
  width: 400px;
  background-color: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.field-input-box input {
  width: 100%;
  height: 24px;
  margin: 5px 0;
}

.modal .close-btn {
  position: absolute;
  top: -30px;
  right: -30px;
  width: 25px;
  height: 25px;
  z-index: 1;
}

.modal .close-btn:hover {
  opacity: .8;
}

.news-container {
  display: flex;
  flex-wrap: wrap;
}

.news-card {
  box-sizing: border-box;
}

.vertical {
  background-color : #FFF;
  margin: 0 2% 2% 0;
  width: 30%;
  height: 355px;
}

.centering-page-content {
  width: 90%;
  margin: auto;
}

.section {
  padding: 35px 24px 32px;
}

.thumbnail {
  height: 35%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.article-title {
  font-weight: 700;
  margin: 6% 6% 4%;
  line-height: 1.4em;
  height: 2em;
  font-size: 105%;
}

.meta {
  border-bottom: 1px solid #EAEAEA;
  font-size: 10px;
  margin: 8px 16px 0;
  padding-top: 8px;
  padding-bottom: 12px;
  color: #999;
}

.news-card a {
  text-decoration: none;
  color: black;
}

.article-title:hover, .thumbnail:hover {
  opacity: .7;
  transition: all 0.1s linear 0s;
}

.login-modal {
  display: none;
}

.register-modal {
  display: none;
}

.link-login, .link-register {
  text-decoration: underline;
  color: blue;
}

.link-login:hover, .link-register:hover {
  opacity: .8;
}

.thumbnail:hover, .article-title:hover {
  opacity: .6;
  cursor: pointer;
}

.current-login {
  float: left;
  font-size: 12px;
  margin-top: 6px;
}

.logout {
  background-color: #4769ef;
  text-align: center;
  float: left;
  margin-left: 20px;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 12px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-decoration: none;
}

.logout:visited {
  color: #FFF;
}

.register-or-login-items .logout:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Left bar */
/* 新しいコメントやアカウントの情報を表示する分 */

.pick-stream {
  background: #FFF;
}

.fixed-left{
  position: fixed;
  width: 192px;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  box-shadow: 0 0 1px #dedede, 0 0 2px #f5f5f5;
}

.user-profile .user-info {
  padding-top: 24px;
}

.user-icon img {
  width: 48px;
  height: 48px;
}

.user-info .no-account {
  padding-top: 9px;
  padding-bottom: 9px;
}

.user-info .logged-in {
  font-size: 14px;
  font-weight: 700;
  height: 14px;
  color: #000;
}

.no-account {
  color: #999999;
  font-size: 12px;
  line-height: 1;
}

.user-info {
  text-align: center;
}

.create-account button {
  background-color: #FFF;
  width: 144px;
  height: 32px;
  font-size: 12px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border: 1px solid #231f20;
  color: #231f20;
}

button:hover {
  cursor: pointer;
  background-color: #231f20;
  color: #FFF;
  transition: all .1s linear;
}

/* フォローとフォロワー */

.follow-info {
  align-items: center;
  display: flex;
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-color: #eaeaea;
  margin-top: 10px;
  padding-top: 5px;
}

.follow-box, .follower-box {
  text-align: center;
  height: 52px;
  flex: 50%;
}

.following, .follower {
  font-size: 18px;
}

.following-caption, .follower-caption {
  font-size: 8px;
  color: #dac2b8;
}

/* ページのコンテンツ */

.page-content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-left: 192px;
}

.breadcrumbs {
  position: fixed;
  margin-left: 192px;
  padding-left: 90px;
  background-color: #fdfdfd;
  left: 0;
  right: 0;
  cursor: pointer;
  z-index: 2;
  opacity: .8;
  cursor: pointer;
}

.breadcrumbs a.link {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
  text-decoration: none;
  opacity: .9;
}

.breadcrumbs a img {
  width: 16px;
  height: 12px;
  margin-right: 8px;
  vertical-align: center;
  cursor: pointer;
}

.label {
  font-size: 12px;
  font-weight: bold;
  color: #3c3839;
  vertical-align: center;
  cursor: pointer;
}

.news-summary {
  padding-top: 64px;
  padding-left: 80px;
}

.content-area {
  width: 656px;
  background-color: #FFF;
  display: block;

}

img.news-image {
  max-width: 656px;
  max-height: 262px;
  width: auto;
  height: auto;
}

img.news-image:hover {
  opacity: .8;
  cursor: pointer;
}

h1 {
  font-size: 1.5em;
}

.news-title a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

.news-title a:hover {
  opacity: .8;
}

.news-area {
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 24px;
}

div.site {
  color: #999;
  font-size: 12px;
}

.read-more {
  margin-top: 14px;
  font-size: 14px;
  padding: 10px;
  display: block;
  border: 1px solid #221f20;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}

.read-more:hover {
  background-color: #000;
  color: #FFF;
  opacity: .9;
  transition: all 0.1s linear 0s;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000;
}

a.link:hover {
  cursor: pointer;
}

/* コメント */

.news-comment {
  margin-top: 32px;
  background-color: #FFF;
  margin-bottom: 24px;
}

.comment-area {
  position: relative;
  margin-left: 32px;
  margin-right: 32px;
  border-bottom: solid 2px #eaeaea;
}

.cover img {
  margin-top: 16px;
  width: 40px;
  height: 40px;
  float: left;
}

textarea {
  resize: none;
  border-color: #e4e4e473;
  border-radius: 6px;
  vertical-align: center;
  line-height: 40px;
  height: 40px;
  width: 50%;
  margin-top: 16px;
  margin-left: 12px;
}

textarea:hover {
  -moz-box-shadow: inset 0 0 10px #615f5f73;
   -webkit-box-shadow: inset 0 0 10px #615f5f73;
   box-shadow: inset 0 0 10px #615f5f73;
   transition: all 0.1s linear 0s;
}

.post-comment {
  float: right;
  margin-top: 16px;
}

input[type="submit"] {
  background: url("/btn-pick.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 110px;
  height: 40px;
  cursor: pointer;
  border: none;
}

input[type="submit"]:hover {
  opacity: .8;
  transition: all 0.2s linear 0s;
}